<!-- Not quite working -->
<% if user_signed_in? %>

	<h1> Submission Page </h1>

	<p><%= @test_data_from_form %></p>
	<p><%= @whole %></p>

<% else %>

	<h1> You must login to submit answers </h1>

<% end %>